{% load static %}
<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container relative">
        <!-- Logo container-->
        <a class="logo" href="{% url 'main:home' %}">
            <img src="{% static 'main/logo/logo-transparent.png' %}" class="h-5 inline-block size-xl dark:hidden" alt="">
            <img src="{% static 'main/logo/logo-white-transparent.png' %}" class="h-5 hidden dark:inline-block" alt="">
        </a>
        <!-- End Logo container-->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="" class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[15px] text-center rounded-xl bg-orange-500 hover:bg-orange-600 border border-orange-500 hover:border-orange-600 text-white"><i data-feather="dribbble" class="h-[14px] w-[14px] align-middle" title="dribbble"></i></a>
            </li>
            <li class="inline mb-0">
                <a href="" class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[15px] text-center rounded-xl bg-orange-500 hover:bg-orange-600 border border-orange-500 hover:border-orange-600 text-white"><i data-feather="linkedin" class="h-[14px] w-[14px] align-middle" title="dribbble"></i></a>
            </li>
            <li class="inline mb-0">
                <a href="" class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[15px] text-center rounded-xl bg-orange-500 hover:bg-orange-600 border border-orange-500 hover:border-orange-600 text-white"><i data-feather="github" class="h-[14px] w-[14px] align-middle" title="dribbble"></i></a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu justify-end">
                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Home</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="index.html" class="sub-menu-item">Hero One</a></li>
                        <li><a href="index-two.html" class="sub-menu-item">Hero Two</a></li>
                        <li><a href="index-three.html" class="sub-menu-item">Hero Three</a></li>
                    </ul>
                </li>

                <li><a href="aboutus.html" class="sub-menu-item">About Us</a></li>

                <li><a href="services.html" class="sub-menu-item">Services </a></li>

                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Portfolio</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li class="megamenu-head">Modern Portfolio</li>
                                <li><a href="portfolio-modern-two.html" class="sub-menu-item">Two Column</a></li>
                                <li><a href="portfolio-modern-three.html" class="sub-menu-item">Three Column</a></li>
                                <li><a href="portfolio-modern-four.html" class="sub-menu-item">Four Column</a></li>
                                <li><a href="portfolio-modern-five.html" class="sub-menu-item">Five Column</a></li>
                                <li><a href="portfolio-modern-six.html" class="sub-menu-item">Six Column</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Classic Portfolio</li>
                                <li><a href="portfolio-classic-two.html" class="sub-menu-item">Two Column</a></li>
                                <li><a href="portfolio-classic-three.html" class="sub-menu-item">Three Column</a></li>
                                <li><a href="portfolio-classic-four.html" class="sub-menu-item">Four Column</a></li>
                                <li><a href="portfolio-classic-five.html" class="sub-menu-item">Five Column</a></li>
                                <li><a href="portfolio-classic-six.html" class="sub-menu-item">Six Column</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Creative Portfolio</li>
                                <li><a href="portfolio-creative-two.html" class="sub-menu-item">Two Column</a></li>
                                <li><a href="portfolio-creative-three.html" class="sub-menu-item">Three Column</a></li>
                                <li><a href="portfolio-creative-four.html" class="sub-menu-item">Four Column</a></li>
                                <li><a href="portfolio-creative-five.html" class="sub-menu-item">Five Column</a></li>
                                <li><a href="portfolio-creative-six.html" class="sub-menu-item">Six Column</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Masonry Portfolio</li>
                                <li><a href="portfolio-masonry-two.html" class="sub-menu-item">Two Column</a></li>
                                <li><a href="portfolio-masonry-three.html" class="sub-menu-item">Three Column</a></li>
                                <li><a href="portfolio-masonry-four.html" class="sub-menu-item">Four Column</a></li>
                                <li><a href="portfolio-masonry-five.html" class="sub-menu-item">Five Column</a></li>
                                <li><a href="portfolio-masonry-six.html" class="sub-menu-item">Six Column</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Portfolio Detail</li>
                                <li><a href="portfolio-detail-one.html" class="sub-menu-item">Portfolio One</a></li>
                                <li><a href="portfolio-detail-two.html" class="sub-menu-item">Portfolio Two</a></li>
                                <li><a href="portfolio-detail-three.html" class="sub-menu-item">Portfolio Three</a></li>
                                <li><a href="portfolio-detail-four.html" class="sub-menu-item">Portfolio Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Blog</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="blogs.html" class="sub-menu-item">Blogs</a></li>
                        <li><a href="blog-detail.html" class="sub-menu-item">Blog Detail</a></li>
                    </ul>
                </li>

                <li><a href="contactus.html" class="sub-menu-item">Contact Us</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->